* {
    margin:  0;
    padding: 0;
  }
p{
    
}

h2{
    text-align: center;
    line-height: 10px;    
}

.cabecera{
    width: 100%;
}

[data-cabecera]{
    float: left;
    width: 33%;
    height: 80px;
    border: 1px dashed rgb(20, 220, 245);   
}
[data-principal]{
    border: 2px dashed rgb(220, 220, 245);
    padding: 12px;
    float: left;
    width: 20%;
    height: 400px;

}

[data-titulo]{
    border:3px dashed red;
    height: 35px;
    align-content: center;
    padding-top: 8px;
    
}
[data-ejemplo]{
    border:3px dashed black;
    height: 200px;
}
[data-pie]{
    border:3px dashed greenyellow;
    height: 150px;;
}